
@media screen and (min-width: 1080px){

footer{
display: flex;
flex-wrap: wrap;
bottom: 0px;              /* 絶対位置指定(左0px,下0px) */
width:100%;               /* 横の幅を100% */
}
.sub-footer{
margin-top: 50px;
background-color: #344955;   /* 背景色(黒) */
height: 120%;          /* 縦幅の指定100px */
width: 100%;           /* 横の幅970px */
}

.sub-footer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sub-footer ul li{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 7px;
  margin-right: 20px;
}

.sub-footer img{
  height: 160px;
  min-width: 300px;
}

.sub-footer h3{
  font-size: 35px;
  color: #1c92d2;
}

}
@media screen and (max-width: 1079px){
  footer{
    width: 100%;
  background-color: #444;   /* 背景色(黒) */
  }
  .sub-footer{
   width: 100%;
  }

  .sub-footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sub-footer ul li{
    padding-right: 3px;
    object-fit: scale-down;
  }

  .sub-footer img{
    height: 160px;
    min-width: 320px;
    min-height: 120px;
  }

}
