

html{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-text-size-adjust: 100%;
          	-ms-text-size-adjust: 100%;
}


@media screen and (min-width: 1080px){

.continer{
  display: flex;
}

.center{
  margin-top: 1vw;
  margin-left: 1vw;
  padding-bottom: 1vw;
}
/*------------------右側の設定--------------------*/
.leftside{
  width: 20vw;
  border-right: solid 1px #0ED2F7;
}

.leftside h1{
  text-align: center;
  margin-top: 1vw;
  color: #0ED2F7;
  font-size: 30px;
}


.leftside ul{
  height: 100%;
  min-height: 100%;
  margin-top: 10px;
}

.leftside ul li p{
  flex-wrap: wrap;
  font-size: 19px;
  color: #0ED2F7;
  line-height: 1.5em;
}

.leftside ul li{
  list-style-type: none!important;/*ポチ消す*/
}

/*------------------右側の設定--------------------*/

}
/*------------------ロゴ------------------*/
