

@media screen and (max-width: 1079px){


/*------------indexのメインスタイルなど-----------*/

  body {
    display: -webkit-flex;
     display: flex;
     -webkit-justify-content: center;
     justify-content: space-around;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
  }

.center{

}
/*------------indexのメインスタイルなど-----------*/
.continer{
  display: -webkit-flex;
   display: flex;
   -webkit-justify-content: center;
   justify-content: space-around;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
}
/*--------------中央の部分-----------------------*/
.center p{
  color: #0ED2F7;
  margin-bottom: 5px;
  font-size: calc(25px + 0.5vw);
}
/*------------------右側の設定--------------------*/
.leftside{

}

.leftside h1{
  margin-top: 1vw;
  color: #0ED2F7;
  font-size: 30px;
  margin-left: 1vw;
}

.leftside ul{
  width: 45vw;
  height: 30vh;
  min-width: 270px;
  min-height: 300px;
  border: dotted 3px #0ED2F7;
}

.leftside ul li p{
  font-size: 19px;
  color: #0ED2F7;
  margin-top: 0.5em;
}

.leftside ul li{
  list-style-type: none!important;/*ポチ消す*/
}

.leftside a img{
  min-width: 270px;
  padding-top: 0.5em;
  padding-right: 0.5em;
}
/*------------------右側の設定--------------------*/

/*------------------ロゴ------------------*/


/*------------------ロゴ------------------*/
/*------------------左側の設定--------------------*/


/*---------------メインロゴの設定-----------------*/

}
