
@media screen and (max-width: 1199px){
body{
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}


/*------------indexのメインスタイルなど-----------*/
.center iframe{

  border: solid 1px #000;
  width: 45vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  min-width: 270px;
  min-height: 300px;
}

.center p{
  margin-top: 8px;
  margin-bottom: 2px;
  font-size: calc(25px + 0.5vw);
}
/*------------------右側の設定--------------------*/

.rightside p{
  font-size: 30px;
  margin-right: 2vw;
}

.rightside ul{
  margin-right: 1.0em;
  width: 45vw;
  height: 30vh;
  min-width: 270px;
  min-height: 300px;
  border: dotted 3px #000;
}

.rightside ul li p{
  font-size: 19px;
  margin-top: 0.5em;
}

.rightside ul li{
  list-style-type: none!important;/*ポチ消す*/
}

.rightside a img{
  min-width: 270px;

  padding-top: 0.5em;
  padding-right: 0.5em;
}
/*------------------左側の設定--------------------*/

.header{
  width: 45vw;
  min-width: 300px;
}

.header ul li {
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbebf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 15px 15px 15px;/*角丸く*/
  transition: 1.0s ;
}

.header ul li:hover {
  background-color: #fff;
}

.header ul{
  padding: 0;
  width: auto;
}

.header ul li a{
  display: block;
  color: skyblue;
  font-size:30px;
  text-decoration:none /*リンクの下線を消す*/
}



/*---------------メインロゴの設定-----------------*/
a.mainlogo img{
  width: 45vw;
  min-width: 300px;
  border:double 10px skyblue;
  margin-bottom: 0.5em;
}

a.mainlogo:hover img{
  border:double 10px #fff;
}

}
