/*-------------あかさたなの設定-----------*/

.tab_content_description ul li{
    line-height: 3.3em;
}

.tab_content_description ul li p{
  font-size: 22px;
  color: #212121;
  background: #fff8e8;
  border-left: solid 10px #1c92d2;
}


.tab_content_description ul{
  min-width: 300px;
  padding-right: 10px;
  width: 60vw;

}
/*--------------------作品名------------------------*/
.tab_content_description ul li a{
  font-size: calc(112.5% + 0.5vw);
  text-decoration: none;
    color: #0ED2F7;
}

/*ドロップメニュー*/
@media screen and (min-width: 1080px){
.tab_content_description ul li a:hover{
  transition: 0.3s;
  background-color: #1c92d2;
  color: #fff;
}

   .dropmenu:before, .dropmenu:after{
         content: "";
         display: table;
  }
  .dropmenu:after{
        clear: both;
  }
  .dropmenu li{
       position: relative;
       width: 100%;
       float: left;
       text-align: left;
  }
  .dropmenu li a{
       display: block;
  }
.dropmenu li ul{
          list-style: none;
          z-index: 9999;
          top: 100%;
          left: 0;
          margin: 0;
          padding: 0;
  }
  .dropmenu li ul li{
         width: calc(100% / 4) ;
  }
  .dropmenu li ul li a{
        text-align: left;
  }
  .dropmenu li:hover > a{
        background:  #1c92d2;
        color: #fff;
  }
  .dropmenu li a:hover{
        background:  #1c92d2;
  }

  #normal li ul{
    overflow: hidden;
    height: 0;
    transition: .2s;
  }
  #normal li:hover ul{
    overflow: visible;

    height: 40px;
  }
}
/*ドロップメニューレスポンシブ対応*/
@media screen and (max-width: 1079px){

  .tab_content_description ul li a:hover{
    transition: 0.3s;
    background-color: #1c92d2;
    color: #fff;
  }

     .dropmenu:before, .dropmenu:after{
           content: "";
           display: table;
    }
    .dropmenu:after{
          clear: both;
    }
    .dropmenu li{
         position: relative;
         width: 70%;
         text-align: left;
    }
    .dropmenu li a{
         display: block;
    }
  .dropmenu li ul{
          list-style: none;
          display: flex;
          flex-direction: column;
    }
    .dropmenu li ul li a{
          text-align: left;
    }
    .dropmenu li:hover > a{
          background:  #1c92d2;
          color: #fff;

    }
    .dropmenu li a:hover{
          background:  #1c92d2;
    }

    #normal li ul{
         display: none;
    }
    #normal li:hover ul{
          display: block;
    }

}
